html {
    font-family: Arial;
    background-color: #ede0fb;
}

body {
    display:flex;
    flex-direction:column;
    align-items: center;
}

img {
    width: 300px;
    height: 300px;
}

.header {
    display:flex;
    align-items:center;
}

.header img {
    float: left;
    width: 50px;
    height: 50px;
}

.header h1{
    white-space: nowrap;
    position: relative;
    left: 10px;
}

.product-grid {
    display:grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    background-color: #cabcff;
    padding: 10px 10px 10px 10px;
    border:5px solid purple;
}



