html {
    font-family: Arial;
    background-color: #fbf7ff;
    color: #4e4e4e
}

body {
    display:flex;
    flex-direction:column;
    align-items: center;
}

img {
    width: 300px;
    height: 300px;
}

.header {
    display:flex;
    align-items:center;
}

.header img {
    float: left;
    width: 50px;
    height: 50px;
}

.header h1{
    white-space: nowrap;
    position: relative;
    left: 10px;
}

.product-grid {
    display:grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    background: #cabcff;
    padding: 10px 10px 10px 10px;
    border:5px solid #4e4e4e;
}

.product {
    position: relative;
    text-align: center;
    opacity: 0.85;
}

.description {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 300px;
    transform: translate(-50%, -50%);
    color: gray;
    font-size: 30px;
    background-color: rgba(1,1,1,0.5);
    visibility: hidden;

}


@media (hover:hover){
    .product:hover{
        opacity: 1;
    }

    .product:hover .description{
        visibility: visible;
    }
}

