html {
    font-family: Arial;
    background-color: #fbf7ff;
    color: #4e4e4e
}

body{
    display:flex;
    flex-direction:column;
    align-items:center;
}

table {
    border : 1px solid;
    width: 100%;
}

tr {
    display:flex;
}

td {
    position: relative;
    flex: 1;
}

#header {
    display: flex;
    align-items: center;
}

#header img {
    width: 50px;
    height: 50px;
}

#header h1{
    white-space: nowrap;
    position: relative;
    left: 10px;
}

#product-container {
    display: flex;
    flex-direction: column;
    width: 80%;
}

.description {
    text-align: center;
    color: gray;
    font-size: 30px;
}

#layout-buttons {
    margin-left: auto;
    margin-bottom: 10px;
}

#layout-buttons button {
    font-size: 30px;
    color: white;
    background-color: #5412d9;
    padding: 10px;
    border-radius: 8px;
    border-color: #5412d9;
}

/* Style for product in grid mode*/
#product-grid {
    display:grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, max-content));
    grid-column-gap: 2.5%;
    grid-row-gap: 10px;
    justify-content: center;
    background: #cabcff;
    padding: 10px 10px 10px 1%;
    border:5px solid #4e4e4e;
}


#product-grid .product {
    opacity:0.85;
    position:relative;
}

#product-grid img {
    width: 100%;
    height: auto;
}

#product-grid .description {
    position: absolute;
    top: 50%;
    transform: translate(0%, -50%);
    width: 100%;
    visibility: hidden;
    background-color: rgba(1,1,1,0.5);
}

/* Style for product in list mode*/
#product-list {
    display: none;
    background: #cabcff;
    padding: 10px 10px 10px 10px;
    border:5px solid #4e4e4e;
}

#product-list table tr{
    border: 1px dashed gray;
}


#product-list img{
    width: 200px;
    height: 200px;
}


#product-list .product {
    display:flex;
    position: relative;
}


#product-list .description {
    position:relative;
    color: black;
    visibility: visible;
    top: 50%;
    transform: translate(0,-50%);
}

#product-list .price {
    font-size: 30px;
    text-align: center;
    justify-content: center;
    color: black;
    position: relative;
    top: 50%;
    transform: translate(0, -50%);
}

@media (max-width: 550px){
    #product-list img{
        width: 100%;
        height: auto;
    }
}

@media (hover:hover){
    #product-grid .product:hover{
        opacity: 1;
    }

    #product-grid .product:hover .description{
        visibility: visible;
    }

    #product-list tr:hover{
        background: #f2f3ff;
        outline:none;
        cursor: pointer;
    }

